*{
    
}
#signin{
    margin-left:3px;
    
}
#signup{
    margin-left:3px;
    
}

.carousel-container{
    margin-top: 64px;
    margin-left: 10px;
    margin-right: 10px;
}

.content-container{
    margin:10px 5px;
    box-sizing: border-box;
    width: auto;
}
.aside{
    border:2px solid black;
    margin:10px 5px;
    width:17%;
    float:left;
}
.breadCrumb{
    border:2px solid black;
    margin:8px 5px 0px 5px;
    padding: 5px 1px 0px 9px;
    width:81%;
    float:left;
}
.main{
    /* border:2px solid black; */
    margin:0px 5px 10px 5px;
    width:81%;
    float:left;
}
.medicine{
    /* border:2px solid rgb(228, 23, 23); */
    margin:10px 5px;
    width:77%;
    float:left;
}

#med-ele{
    float:left ;
    width: 24%;
    border:1px solid rgb(128, 128, 128);
    margin:-2px 6px 21px 2px;
}
#med-ele div a{  /*this thing is for the :> add to card button and the other thing present inside the respective div*/
    margin: 0px 44px;
}
.aside-right{
    border:2px solid black;
    margin:10px 11px;
    width:20%;
    float:right;
}


.footer{
    clear:both;
}
.footer li{
    float:left;
    padding:5px 6px;
    list-style: none;
}